# Saguru-App Supabase Environment Configuration
# Dapatkan kredensial ini di Supabase Dashboard -> Project Settings -> API (atau Data API)

NEXT_PUBLIC_SUPABASE_URL = https://pieyhlrpauahbpedrynd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBpZXlobHJwYXVhaGJwZWRyeW5kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY5MzI0MjgsImV4cCI6MjEwMjUwODQyOH0.bZ1JbyBj7Mmqe66R74cMb7ioI3qk5RHyv-NMcfEoCj8"